.footer-wrapper {
  background-color: #5e3023;
  /* height: 300px; */
  border-radius: 50px 50px 0 0;
  padding: 90px 50px;
}
.footer-wrapper h4 {
  color: white;
}
.footer_icons {
  color: white;
  font-size: 26px;
  margin-right: 10px;
}
.main_row_margin {
  margin-top: 20px;
}
.icons_social {
  margin-left: 60px;
}
.contact_us_area a {
  font-family: "Poppins", serif;
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}
.whatsapp_icon {
  margin-top: 15px;
}
.footer_links {
  padding-left: 0px;
}
.footer_links li {
  list-style-type: none;
  margin-top: 15px;
}
.footer_links li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 16px;
}
